<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">
        <h2>{{ (getArme) ? 'Editer ' + getArme.name :'Ajouter une nouvelle arme' }}</h2>
        <app-messages></app-messages>
        <form [formGroup]="profileForm">
          <div class="form-group">
            <label>Nom : </label>
              <input id="name" type="text" [ngModel]="(getArme) ? getArme.name :'' " formControlName="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Attaque :</label>
              <input #attaque type="number" [ngModel]="(getArme) ? getArme.attaque : 0 " min="-5" max="5" (change)="limitNumber('attaque', attaque.value)" formControlName="attaque" class="form-control">
          </div>

          <div class="form-group">
            <label>Esquive:</label>
              <input #esquive type="number" [ngModel]="(getArme) ? getArme.esquive : 0 " min="-5" max="5" (change)="limitNumber('esquive', esquive.value)" formControlName="esquive" class="form-control">
          </div>
          <div class="form-group">
            <label>Dégâts : </label>
            <input #degats type="number" [ngModel]="(getArme) ? getArme.degats : 0 " min="-5" max="5" (change)="limitNumber('degats', degats.value)" formControlName="degats" class="form-control">
          </div>
          <div class="form-group">
            <label>Point de vie: </label>
              <input #pointDeVie type="number" [ngModel]="(getArme) ? getArme.pointDeVie : 0 " min="-5" max="5" (change)="limitNumber('pointDeVie', pointDeVie.value)" formControlName="pointDeVie" class="form-control">
          </div>
          <p>{{ifCorrect}}</p>
          <button [disabled]="!profileForm.valid" class="btn btn-primary" type="submit" (click)="saveArme()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>



<!--attaque.value <-6 || attaque.value > 6-->
