<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">
        <h2>{{ (getArme) ? 'Editer ' + getArme.nom :'Ajouter une nouvelle arme' }}</h2>
        <form [formGroup]="profileForm">
          <div class="form-group">
            <label>Nom : </label>
              <input id="name" type="text" [ngModel]="(getArme) ? getArme.nom :'' " formControlName="nom" class="form-control" required>
<!--
              <input #name id="name" type="text" [ngModel]="(getArme) ? getArme.nom :'' " formControlName="nom" class="form-control" required>
-->
              <!--<div  *ngIf="name.oninvalid" class="alert alert-danger">
                <div *ngIf="name.required">Ecrire nom</div>
              </div>-->
          </div>
          <div class="form-group">
            <label>
              Attaque :</label>
              <input type="number" [ngModel]="(getArme) ? getArme.attaque : 0 " min="-5" max="5" formControlName="attaque" class="form-control">

          </div>

          <div class="form-group">
            <label>
              Esquive:</label>
              <input
                type="number"
                [ngModel]="(getArme) ? getArme.esquive : 0 "
                formControlName="esquive"
                class="form-control">
          </div>
          <div class="form-group">
            <label>
              Degats : </label>
            <input type="number" [ngModel]="(getArme) ? getArme.degats : 0 " formControlName="degats" class="form-control">
          </div>
          <div class="form-group">
            <label>
              Point de vie: </label>
              <input type="number" [ngModel]="(getArme) ? getArme.pointDeVie : 0 " formControlName="pointDeVie" class="form-control">
          </div>
          <button [disabled]="!profileForm.valid || totalPoints !== 0" class="btn btn-primary" type="submit" (click)="saveArme()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
