
<section id="projects" class="projects-section bg-light">
  <div class="col-12 container">
    <div  class="row justify-content-start">
      <div class="col-6">

        <h3>Les armes</h3>

        <table class="table table-dark">
          <tr>
            <th scope="row">Nom
              <mat-chip color="primary" (click)="triArme('name')" type="submit" >Trier</mat-chip>
            </th>
            <th scope="row">Attaque
              <mat-chip color="primary" (click)="triArme('attaque')" type="submit" >Trier</mat-chip>
            </th>
            <th scope="row">Esquive
              <mat-chip color="primary" (click)="triArme('esquive')" type="submit" >Trier</mat-chip>
            </th>
            <th scope="row">Dégâts
              <mat-chip color="primary" (click)="triArme('degats')" type="submit" >Trier</mat-chip>
            </th>
            <th scope="row">Point de vie
              <mat-chip color="primary" (click)="triArme('pointDeVie')" type="submit" >Trier</mat-chip>
            </th>
          </tr>
          <tbody>
          <tr *ngFor="let arme of armes">
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.name}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.attaque}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.esquive}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.degats}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.pointDeVie}}</span>
              </a>
            </td>
            <td>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" type="submit" (click)="updateArme(arme.id)" selected>Modifier</mat-chip>
                <mat-chip type="submit" (click)="deleteArme(arme.id)">Supprimer</mat-chip>
              </mat-chip-list>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
