
<section id="projects" class="projects-section bg-light">
  <div class="col-12 container">
    <div  class="row justify-content-start">
      <div class="col-6">

        <h3>Les armes</h3>

        <table class="table table-dark">
          <tr>
            <th scope="row">Id</th>
            <th scope="row">Nom</th>
          </tr>
          <tbody>
          <tr *ngFor="let arme of armes">
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.id}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailArme/{{arme.id}}">
                <span class="badge">{{arme.name}}</span>
              </a>
            </td>
            <td>
              <button type="submit" (click)="updateArme(arme.id)">Modifier
              </button>
              <button type="submit" (click)="deleteArme(arme.id)">Supprimer
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
