<section id="projects" class="projects-section bg-light">
  <div class="col-12 container">
    <div  class="row justify-content-start">
    <!--  <div *ngIf="arme">-->
        <div class="col-6">
          <h2>Details : {{arme.nom}}</h2>
          <div><span>id: </span>{{arme.id}}</div>
          <div>
            <div>Nom: {{arme.nom}}</div>
          </div>
          <div>attaque:
            <div> {{ arme.attaque }}</div>
          </div>
          <div>esquive:
            <div> {{ arme.esquive }}</div>
          </div>
          <div>degats:
            <div> {{ arme.degats }}</div>
          </div>
          <div>Points de vie:
            <div>
              {{ arme.pointDeVie }}
            </div>
            <!-- </div>-->
          </div>
        </div>
    </div>
  </div>
</section>
