<section id="projects" class="projects-section bg-light">
  <div class="col-12 container">
    <div  class="row justify-content-start">
    <!--  <div *ngIf="arme">-->
        <div class="col-6">
          <h2>{{arme.name}} Details arme</h2>
          <div><span>id: </span>{{arme.id}}</div>
          <div>
            <label>name:
              <input [(ngModel)]="arme.name" placeholder="name"/>
            </label>
          </div>
        </div>
    <!-- </div>-->
    </div>
  </div>
</section>
