<section id="projects" class="projects-section bg-light">
  <div class="col-12 container">
    <div  class="row justify-content-start">
        <div class="col-12">

          <h2>Détails : {{arme.name}}</h2>

          <div class="col-6"><span> Id: </span>{{arme.id}}</div>

          <div class="col-6"><span> Nom: </span>{{arme.name}}</div>

          <div class="col-6"><span> Attaque: </span>{{ arme.attaque }}</div>

          <div class="col-6"><span> Esquive:</span>{{ arme.esquive }}</div>

          <div class="col-6"><span> Dégats:</span>{{ arme.degats }}</div>

          <div class="col-6"><span> Points de vie: </span>{{ arme.pointDeVie }}</div>

        </div>
    </div>
  </div>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" type="submit" (click)="goBack()" selected>Retour</mat-chip>
  </mat-chip-list>
</section>
