<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">
        <div *ngIf="hero">
          <h2>{{hero.name | uppercase}} Details</h2>
          <div><span>id: </span>{{hero.id}}</div>
            <div>
              <div>name:
                <div> {{ hero.name }}</div>
              </div>
              <div>attaque:
                <div> {{ hero.attaque }}</div>
              </div>
              <div>esquive:
                <div> {{ hero.esquive }}</div>
              </div>
              <div>degats:
                <div> {{ hero.degats }}</div>
              </div>
              <div>Points de vie:
                <div>
                  {{ hero.pointDeVie }}
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
