<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">
        <div *ngIf="hero">
          <h2>{{hero.name | uppercase}} Details</h2>
          <div><span>id: </span>{{hero.id}}</div>
            <div>
              <label>name:
                <input [(ngModel)]="hero.name" placeholder="name"/>
              </label>
              <label>name:
                <input [(ngModel)]="hero.name" placeholder="attaque"/>
              </label>
              <label>name:
                <input [(ngModel)]="hero.esquive" placeholder="esquive"/>
              </label>
              <label>name:
                <input [(ngModel)]="hero.degats" placeholder="degats"/>
              </label>
              <label>name:
                <input [(ngModel)]="hero.pointDeVie" placeholder="pointDeVie"/>
              </label>
            </div>
          <button class="btn brn-primary" (click)="updateHero()"> Enregistrer </button>
        <button (click)="goBack()">go back</button>
        </div>
      </div>
    </div>
  </div>
</section>
