<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">

        <mat-list-item>
          <mat-list *ngIf="hero">
            <h2>{{hero.name | uppercase}} Details</h2>
            <mat-list-item><b>name :  </b>{{ hero.name }}
            </mat-list-item>

            <mat-list-item *ngIf="arme"><b>arme : </b>{{arme.name }}
            </mat-list-item>

            <mat-list-item><b>attaque : </b>{{ hero.attaque }}
            </mat-list-item>

            <mat-list-item><b>esquive : </b>{{ hero.esquive }}
            </mat-list-item>

            <mat-list-item><b>degats : </b>{{ hero.degats }}
            </mat-list-item>

            <mat-list-item><b>Points de vie : </b>{{ hero.pointDeVie }}
            </mat-list-item>
          </mat-list>
          </mat-list-item>
        </div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" type="submit" (click)="goBack()" selected>Retour</mat-chip>
      </mat-chip-list>
    </div>
  </div>
</section>

