<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">
        <h2>{{ (getHero) ? 'Editer ' + getHero.name :'Ajouter un nouvel héro' }}</h2>
        <div>Vous pouvez distribuer jusqu'à 40 au total, il vous reste  :*** {{ pointsRestant }}*** de points</div>
        <div *ngIf="message !== '' " class="alert alert-danger">{{ message }}</div>
        <form [formGroup]="profileForm">
          <div class="groups">
            <label>Nom :</label>
              <input type="text" [ngModel]="(getHero) ? getHero.name :'' " formControlName="name" class="form-control" required>
          <div *ngIf="profileForm.controls['name'].invalid &&
            (profileForm.controls['name'].dirty ||
            profileForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="profileForm.controls['name'].errors.required">
              Saisir votre nom.
            </div>
          </div>
            <label>Attaque :</label>
            <input
                #attaque
                type="number"
                [ngModel]="(getHero) ? getHero.attaque : 1 "
                formControlName="attaque"
                class="form-control"
                (change)="limitNumber()">
            <div class="alert alert-danger" *ngIf="attaque.value <1 || attaque.value >37">
              Attaque entre 1 et 37.
            </div>
            <label>Esquive:</label>
              <input
                #esquive
                type="number"
                [ngModel]="(getHero) ? getHero.esquive : 1 "
                formControlName="esquive"
                class="form-control"
                (change)="limitNumber()">
            <div class="alert alert-danger" *ngIf="esquive.value <1 || esquive.value >37">
              Esquive entre 1 et 37.
            </div>
            <label>Degats :</label>
              <input
                #degats
                type="number"
                [ngModel]="(getHero) ? getHero.degats : 1 "
                formControlName="degats"
                class="form-control"
                (change)="limitNumber()"
              >
            <div class="alert alert-danger" *ngIf="degats.value <1 || degats.value >37">
              Dégâts entre 1 et 37.
            </div>
            <label>Point de vie: </label>
            <input
              #pointDeVie
              type="number"
              [ngModel]="(getHero) ? getHero.pointDeVie : 1 "
              formControlName="pointDeVie"
              class="form-control"
              (change)="limitNumber()">
            <div class="alert alert-danger" *ngIf="pointDeVie.value <1 || pointDeVie.value >37">
              Point de vie entre 1 et 37..
            </div>
          <button [disabled]="!profileForm.valid || totalPoints === 40 || totalPoints < 1 || !ifCorrect"
                  class="btn btn-primary"
                  type="submit"
                  (click)="saveHero()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
