<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Tour of Heroes</h1>
    <div>
      <button mat-button routerLink="/dashboard">Tableau de bord</button>
      <button mat-button routerLink="/heroes">Liste héros</button>
      <button mat-button routerLink="/heroEditor">Créer héro</button>
      <button mat-button routerLink="/armes">Liste armes</button>
      <button mat-button routerLink="/armeEditor">Créer arme</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<app-messages></app-messages>
<!--
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
-->
<!--<app-hero-editor></app-hero-editor>-->
