<p>profile-editor works!</p>

<form [formGroup]="profileForm">
  <label>
    Nom :
    <input type="text" formControlName="name">
  </label>
  <label>
    Attaque :
    <input type="text" formControlName="attaque">
  </label>
  <label>
    Esquive:
    <input type="text" formControlName="esquive">
  </label>
  <label>
    Degats :
    <input type="text" formControlName="degats">
  </label>
  <label>
    Point de vie:
    <input type="text" formControlName="pointDeVie">
  </label>
  <button type="submit" (click)="saveHero()">Submit</button>
</form>
