<section class="col-12 justify-content-start bg-light">
<div class="col-12 container">
    <div  class="row justify-content-start">
      <div class="col-6">

        <h3>My Heroes</h3>

        <table class="table table-dark col-12 justify-content-start">
          <tr>
            <th scope="row">Id</th>
            <th scope="row">Nom</th>
          </tr>
          <tbody>
          <tr *ngFor="let hero of heroes">
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.id}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.name}}</span>
              </a>
            </td>
            <td>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" type="submit" (click)="updateHero(hero.id)" selected>Modifier</mat-chip>
                <mat-chip type="submit" (click)="deleteHero(hero.id)">Supprimer</mat-chip>
              </mat-chip-list>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
