<section class="col-12 justify-content-start bg-light">
<div class="col-12 container">
    <div  class="row justify-content-start">
      <div class="col-6">
        <h3>Liste héros</h3>
        <div>Filtrer sur le nom des héros :
          <input type="text" (change)="saisiesFilter($event.target)">
          <button type="button" class="btn btn-secondary" style="margin: 0 5px">Valider</button>
        </div>
        <br/>
        <table class="table table-dark col-12 justify-content-start">
          <tr>
            <th scope="row">Nom
              <mat-chip color="primary" type="submit" (click)="triHero('name')" selected>Trier</mat-chip>
            </th>
            <th scope="row">Attaque
              <mat-chip color="primary" type="submit" (click)="triHero('attaque')" selected>Trier</mat-chip>
            </th>
            <th scope="row">Esquive
              <mat-chip color="primary" type="submit" (click)="triHero('esquive')" selected>Trier</mat-chip>
            </th>
            <th scope="row">Degats
              <mat-chip color="primary" type="submit" (click)="triHero('degats')" selected>Trier</mat-chip>
            </th>
            <th scope="row">Point de vie
              <mat-chip color="primary" type="submit" (click)="triHero('pointDeVie')" selected>Trier</mat-chip>
            </th>
            <th scope="row">Actions</th>
          </tr>
          <tbody>
          <tr *ngFor="let hero of heroFilter">
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.name}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.attaque}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.esquive}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.degats}}</span>
              </a>
            </td>
            <td>
              <a routerLink="/detailHero/{{hero.id}}">
                <span class="badge">{{hero.pointDeVie}}</span>
              </a>
            </td>
            <td>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" type="submit" (click)="updateHero(hero.id)" selected>Modifier</mat-chip>
                <mat-chip type="submit" (click)="deleteHero(hero.id)">Supprimer</mat-chip>
              </mat-chip-list>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
