<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div  class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-9">
        <h2>My Heroes</h2>
        <ul class="heroes">
          <li class="nav-item" *ngFor="let hero of heroes">
            <a class="nav-link" routerLink="/detail/{{hero.id}}">
              <div class="badge">{{hero.id}}</div> {{hero.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
